[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
plaid-python = "*"
requests = "*"
ipython = "*"
pytest = "*"
clearbit = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
